<table>
    <thead>
        <tr>
            <th>Patient id</th>
            <th> First name</th>
            <th>last name</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(row => {%>
            <tr>
                <td><%= row.patient_id %></td>
                <td><%= row.first_name %></td>
                <td><%= row.last_name %></td>
            </tr>
        <% });%>
    </tbody>
</table>